.layui-layer.self-ui .layui-layer-content{
    padding:20px;
}
.layui-layer.self-ui .layui-layer-btn{
    text-align: center;
}
.layui-layer.self-ui .layui-layer-content h1{
    text-align: center;
    font-size: 24px;
}
.layui-layer.self-ui .order-detail .order-tit{
    text-align: center;
    font-size: 24px;
}
.layui-layer.self-ui .order-detail .order-container{
    margin-top:30px;
}
.layui-layer.self-ui .order-detail .order-container .order-item{
    display: flex;
    align-items: center;
    padding:5px 0;
}
.layui-layer.self-ui .order-detail .order-container .order-item>span:first-child{
    flex: 1;
}
.layui-layer.self-ui .order-detail .order-container .order-item>span:last-child{
    flex: 2;
}